html {
	font-size: 62.5%;
}

body {
	height: 100%;
}

.main {
	position : relative;
	width: 80rem;
	margin: 0 auto;
	top: calc(50% - 25rem);
}
.products {
	position: absolute;
}

#chart {
	margin-left: 20rem;
	display: inline-block;
	position: relative;
	width: 60rem;
	height: 50rem;
}

#chart svg {
	position: absolute;
	display:none;
	box-shadow : 0.5rem 0.5rem 1rem #bfbfbf,
				-0.5rem -0.5rem 1rem #bfbfbf;
}

.btn {
	display: block;
	border : none;
	background: white;
	border-bottom: solid 1px black;
	font-family: 'sans-serif';
	text-align: left;
	line-height: 5rem;
	font-size: 1.6rem;
	padding-left: 0.5rem;
	height: 5rem;
	width: 15rem;
	margin-bottom: 1.5rem;
	cursor: pointer;
}

.btn:nth-child(1) {
	font-weight: bold;
}