html {
	font-size: 62.5%;
}

.products {
	position: relative;
	display: inline-block;
	height: 50rem;
	width: 15rem;
	vertical-align: top;
	margin-left: 40rem;
}

.products > div {
	position: absolute;
	top: 25%;
}


#chart {
	margin-left: 5rem;
	top: 10rem;
	display: inline-block;
	position: relative;
	width: 50rem;
	height: 50rem;
}

#chart svg {
	position: absolute;
	display:none;
	background: pink;
	box-shadow : 0;
}

.btn {
	border : none;
	background: white;
	border-bottom: solid 1px black;
	font-family: 'sans-serif';
	text-align: center;
	line-height: 5rem;
	font-size: 1.6rem;
	height: 5rem;
	width: 15rem;
	margin: 2rem;
	transition: all 0.4s ease-out;
	cursor: pointer;
}

.btn:hover {
	color: steelblue;
}



